body {
  background-color: grey;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  background-color: lightsalmon;
  padding: 10px 20px;
}

#menu {
  background-color: pink;
  padding: 8px;
}
#menu ul {
  list-style: none;
  margin: 0;
}
#menu ul li {
  display: inline-block;
  padding: 20px 20px;
}
#menu ul li a {
  color: green;
  text-decoration: none;
}
#content {
  background-color: white;
  padding: 20px;
  text-align: justify;
}
#sidebar {
  background-color: lightblue;
}
#sidebar ul {
  list-style: none;
  margin: 0;
}
#sidebar ul li {
  padding: 15px 10px;
}
#sidebar ul li a {
  text-decoration: none;
}

#footer {
  background-color: goldenrod;
  text-align: right;
  padding: 20px 50px;
  color: white;
}
