body {
  background-color: lightcyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: justify;
}
.cont-margin {
  margin-top: 20px;
}
.row-margin {
  margin: 2px;
}
.col-margin {
  margin: 2px;
}
.cont-border {
  border: 4px solid red;
}
.row-border {
  border: 2px solid blue;
}
.col-border {
  border: 2px solid green;
}
.bg-pink {
  background-color: pink;
}
.bg-gray {
  background-color: gray;
}

.bg-blue {
  background-color: lightblue;
}
.bg-violet {
  background-color: violet;
}
.bg-green {
  background-color: lightgreen;
}
.bg-azure {
  background-color: azure;
}
