/* Importing Poppins font family */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* styling body */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  letter-spacing: 0, 5px;
  font-weight: 500;
  text-align: justify;
}

/* Styling Navbar Section */

#navbar {
  background-color: whitesmoke;
}

#navbar a {
  display: inline-block;
}

#navbar a:hover {
  color: #fc4f00;
  font-size: 17px;
}
.header a {
  color: black;
}

.header a i {
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-right: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Adding Navbar hover effect */

#navbarNav .dropdown-menu li a {
  text-decoration: none;
}

#navbarNav .dropdown-menu li a:hover {
  color: #fc4f00;
}

/* submenu section */

.dropdown-menu .menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.dropdown-menu .menu-container.active {
  display: block;
}

.menu-container .submenu {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
  padding: 10px;
  background-color: #f5f5f5;
}

/* Fixing social icons in left and right side */

/* fixing logo from top */
.fix img {
  position: absolute;
  top: 0px;
  left: 10px;
}

/* styling video */
video {
  width: 100%;
}

/* Styling about us section */
.back {
  background-image: url(./Images/background.jpg);
  background-size: cover;
}

.row .image img {
  width: 80x;
  height: 80px;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
}

#about {
  background-color: whitesmoke;
}

/* social icon section */

.floating-item a i {
  background-color: green;
  color: white;
  margin: 5px;
  padding: 5px;
}

.floating a i {
  background-color: blue;
  margin: 2px;
  color: white;
  padding: 5px;
}

/* Gallery Section */

.gallery img:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}

/* contact section */
.footer {
  background-color: whitesmoke;
}
.click a {
  display: inline;
  font-size: 35px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 0;
  background-color: white;
  border-radius: 100%;
}

.click a:hover {
  transition: all 1s ease;
}
.others a i {
  font-size: 25px;
  color: #fc4f00;
  margin-top: 15px;
  margin-right: 5px;
}

.others a {
  display: block;
  text-decoration: none;
  color: gray;
}

.others a:hover {
  color: #fc4f00;
}

/* custom style for Why rai */

.background {
  height: 430px;
  background-image: url(./Images/rai.jpg);
  background-size: cover;
}

/* background image from chairman's desk */

.chairman {
  background-image: url(./Images/chairman.jpg);
  background-size: cover;
  height: 500px;
}

/* background image for director's section */
.director {
  background-image: url(./Images/director.jpeg);
  background-size: cover;
  height: 500px;
}

/* background image for principal's section */

.principal {
  background-image: url(./Images/principal.png);
  background-size: cover;
  height: 500px;
}

/* Styling accordins */

.accordion-button::after {
  display: none;
  /* to remove the drop down indicator at the end of each accordin items */
}

/* Providing background image for banner section of accordins */
.faqs {
  background-image: url(./Images/faqs.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  height: auto;
  height: 500px;
}
